<html>

<body>
    <title>E Hallo Garba</title>
    <h1>Be mast banvyu te to yaar</h1>
    <form action="/submmit" method="post">
        <label for="math">Math</label></br>
        <input type="text" id="math" name="math" value="0"></br>
        <label for="science">Science</label></br>
        <input type="text" id="science" name="science" value="0"></br>
        <label for="cs">Computer science</label></br>
        <input type="text" id="cs" name="cs" value="0"></br>
        <input type="submit" value="submit">
    </form>
</body>

</html>